head, body{
    font-family: 'Roboto Slab', serif;
}

#finalPositionSize{
    height: 60%;
    font-size: 4em;
}

#firstTarget{
    height: 40%;
    font-size: 2em;
}

table{
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    padding: 2%;
    margin:auto;
    vertical-align: middle;
}

td{
    width: 50%;
    /* border: 1px solid black; */
    vertical-align: middle;
}

.tr1{
    border-bottom: 1px dashed black;
}
.tr2{

}

.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

#tatext{
    margin: auto;
}

.card-header{
    color: #121212;
    font-weight: bold;
}

.answercard{
    height: 300px;
}