head, body{
    font-family: 'Roboto Slab', serif;
}

#finalPositionSize{
    font-size: 78px;
}

table, td{
    width: auto;
    /* border: 1px solid black; */
    padding: 2%;
    margin:auto;
}
.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

#tatext{
    padding: 3px;
}
